@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DataAccess.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
    <a asp-page="CreateCinema">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cinemas[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinemas[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinemas[0].Watched)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Cinemas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Watched)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@* <form method="post"> *@
@*     <div class="form-group"> *@
@*         <label asp-for="Cinema.Name">Название фильма:</label> *@
@*         <input asp-for="Cinema.Name" class="form-control" placeholder="Введите название фильма"> *@
@*     </div> *@
@*     <button type="submit" class="btn btn-primary">Добавить</button> *@
@* </form> *@
@* *@
@* <div class="list-group"> *@
@*     @{ *@
@*         foreach (var cinema in Model.Cinemas) *@
@*         { *@
@*             var itemClass = true//cinema == Model.SelectedCinema *@
@*                 ? "list-group-item list-group-item-action" *@
@*                 : "list-group-item list-group-item-action active"; *@
@*             <a href="#" class=@itemClass>@cinema.Name</a> *@
@*         } *@
@*     } *@
@* </div> *@